<Files deteco.sql>
	Order allow,deny
	Deny from all
</Files>

RewriteEngine on
RewriteRule ^project-([0-9]+)-(.*)$ project.php?id=$1&tags=$2 [L]
RewriteRule ^project-([0-9]+)$ project.php?id=$1 [L]