<Files deteco.sql>
	Order allow,deny
	Deny from all
</Files>

RewriteEngine on

RewriteCond %{REQUEST_URI} !^/admin/.*|/articles/.*|/css/.*|/images/.*|/js/.*$

RewriteRule ^([a-z]+)/home$ index.php?lang=$1 [L]
RewriteRule ^([a-z]+)/portfolio/([\w]+)/([\d]+)$ portfolio.php?category=$2&page=$3&lang=$1 [L]
RewriteRule ^([a-z]+)/project/([0-9]+)/(.*)$ project.php?id=$2&tags=$3&lang=$1 [L]
RewriteRule ^([a-z]+)/project/([0-9]+)$ project.php?id=$2&lang=$1 [L]
RewriteRule ^([a-z]+)/([\w]+)$ $2.php?lang=$1 [L]